@keyframes mug-move {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-30px);
    }
}

@keyframes arrow {
    0%{
        opacity: 1;
    }

    50%{
        opacity: 0.6    ;
    }

    100%{
        opacity: 0.3;
    }
}